@{
    ViewBag.Title = "Home Page";
}

<head>

    <style>
        a {
            color: white;
            font-size: 18px;
            color: white;
            font-weight: lighter;
            word-wrap: break-word;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            margin-bottom: 20px;
            margin-top: -10px;
        }

        #nav-menu {
            background: #27d6d6;
        }

        .navar-header-fpt > a {
            font-size: 20px;
            color: white;
            font-weight: lighter;
            word-wrap: break-word;
        }

        .list-action-account > a {
            font-size: 27px;
            color: white;
            font-weight: lighter;
            word-wrap: break-word;
        }

        .content-t {
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="navbar navbar-light navbar-fixed-top" id="nav-menu">
        <div class="container">
            @Html.ActionLink("FPT Human Resource", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-header navar-header-fpt" style="float: right;">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
              @*  <ul class="nav navbar-nav">
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</body>


<div class="jumbotron content-t">
    <div class="img">
        <img src="https://daihoc.fpt.edu.vn/templates/fpt-university/images/header.jpg" />
    </div>
    <h1>Welcome To FPT</h1>
    <p class="lead">
        Chào Mừng các bạn trẻ đến với hệ thống đào tạo của FPT.
    </p>
    <p><a href="https://daihoc.fpt.edu.vn/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<!--<head>-->
<!-- Required meta tags -->
<!--<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>FPT EDUCATION</title>-->
<!-- google-fonts -->
<!--<link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">-->
<!-- //google-fonts -->
<!-- Template CSS Style link -->
<!--<link rel="stylesheet" href="Content/style-starter.css">
</head>-->
